.stream-col-40{
    display: inline-block;
    width: 40px;
}
.stream-col-50{
    display: inline-block;
    width: 50px;
}
.stream-col-60{
    display: inline-block;
    width: 60px;
}
.stream-col-80{
    display: inline-block;
    width: 80px;
}
.list-group{
    border-radius: 2px;
    border-top: 3px solid #940000;
}
.display-block{
    display: block;
}
.text-center {
    text-align: center;
}
.country-info {
    position: relative;
    height: 40px;
    width: 330px;
    display: inline-block;
    text-align: left;
}
.country-image {
    width: 80px;
}
.country-info .country-name {
    top: 0;
    font-size: 20px;
}
.country-info .country-name {
    position: absolute;
    left: 10px;
}
.country-item{
    border-top: 1px solid #eee;
}
